{% extends "base.html.twig" %}

{% block title %}
  Accueil 
      
    
  
{% endblock %}

{% block body %}

  <h1>
    Bienvenue sur la page d'accueil !
      
  </h1>

  <div class="row">
    <div class="col-9">
      {% for article in articles %}
        <div class="card col-4" style="width: 18rem;">
          <div class="card-body">
            <a href="/view/{{ article.id }}">
              <h5 class="card-title">
                {{ article.title }}
              </h5>
            </a>
            {% if article.image starts with 'http' %}
              <img style="max-width: 100%" src="{{ article.image }}" alt={{article.title}} />
            {% else %}
              <img style="max-width: 100%" src="/assets/upload/images/{{ article.image }}" alt={{article.title}} />
            {% endif %}
            <div class="card-text" style=" max-height: 250px;
                                      height: 250px;
                                      white-space: nowrap;
                                      overflow: hidden;
                                      text-overflow: ellipsis;">
              {{ article.content | raw }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% if categories is defined %}
      <div class="col-3">
        <ul class="list-group">
          {% for category in categories %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="/showByCategory/{{ category.id }}">
                  {{ category.title }}
                
              </a>
            <span class="badge bg-primary rounded-pill">{{ category.articles | length }}</span>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>

{% endblock %}